* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.header {
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background-color: #0a0a23;
    color: #fff;
    border-bottom: 4px solid #fdb347;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
}

.gallery img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.gallery img:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
}

.background {
    background-image: url(images/bg1.jpg);
    background-size: cover;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color: #fdb347;
}
